
<div class="conteiner">
    <h3>carrito {{carritoId}}:</h3>
    <div class="d-flex flex-wrap m-3">
        {{#each carrito}}

            <div class="card m-3" style="width: 18rem;">
                {{!-- <img src="..." class="card-img-top" alt="..."> --}}
                <div class="card-body">
                    <h5 class="card-title">{{this.product.title}}</h5>
                    <p class="card-text">{{this.product.description}}</p>
                    <p class="card-text">${{this.product.price}}</p>
                    <p class="card-text">Cantidad:{{this.quantity}}</p>
                    <button onclick=deleteItem('{{this.product._id}}','{{../carritoId}}') class="btn btn-danger">Eliminar Item</button>
                    
                </div>
            </div>

        {{/each}}
    
    </div>
   
    <a href="/carts/purchase"  class="btn btn-primary m-3">Finalizar compra</a>
</div>

<script src="./js/mainCart.js"></script>