
<div class="conteiner">
    <div class="d-flex flex-wrap m-3">
        {{#each producto}}

            <div class="card m-3" style="width: 18rem;">
                {{!-- <img src="..." class="card-img-top" alt="..."> --}}
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">${{this.price}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>

        {{/each}}
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}">Anterior</a>
        {{/if}}

        <p>{{page}} de {{totalPages}}  </p>

        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
</div>

